@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color:   hsl(212, 45%, 89%);
    font-family: 'Outfit',sans-serif;
    font-size: 15px;
}
.card{
 width: 20%;
 position: absolute;
 top: 10%;
 left: 50%;
 transform: translate(-50%);
 background-color: white;
 padding: 15px;
 border-radius: 12px;
}
img{
    width: 100%;
    border-radius: 12px;
}
.title{
    font-weight: 700;
    font-size: 1.7em;
    text-align: center;
    color: hsl(218, 44%, 22%)
}
.subtitle{
    max-width: 100%;
    font-weight: 400;
    text-align: center;
    margin: 5px 25px;
    color: hsl(220, 15%, 55%)
}
.attribution{
  position:absolute ;
  top: 87%;
  left: 39%;
}
@media screen and (max-width:600px) {
    .card{
        width: 70%;
    }
}
